#row1, #row2, #row3,
#row4, #row5, #row6{
    display: flex;
} 

.seat1, .seat2, .seat3, .seat4, .seat5,
.seat6, .seat7, .seat8, .seat9, .seat10, .seat{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: purple;
}

.legend{
    display: flex;
}

.occupied{
    width: 20px;
    height: 20px;
    background-color: grey;
}

.selected{
    width: 20px;
    height: 20px;
    background-color: red;
}

.vacant{
    width: 20px;
    height: 20px;
    background-color: green;
}

.newclass{
    background-color: green;
}